body {
    margin: 0;

    font-family: "Arial", sans-serif;
}

h1 {
    color: #ffffff;
    font-size: 7rem;
    text-align: center;
}

.bg-video {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.fg {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.767);
    flex-direction: column;

    /* blur */
    backdrop-filter: blur(3px);
}

.fg-button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.fg-button {
    margin: 1rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.7rem;
    background-color: #ffffff;
    color: #000000;
    font-size: 1.5rem;
    cursor: pointer;
    width: 10rem;
    text-align: center;
    text-decoration: none;
    border: #ffffff 0.2rem solid;
}

.fg-button:hover {
    background-color: #ffffffde;
    border: transparent 0.2rem solid;
}

.fg-button-see-through {
    background-color: transparent;
    color: #ffffff;
}

.fg-button-see-through:hover {
    background-color: #ffffff25;
}

/* When on mobile */
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 4rem;
    }
    .fg-button-group {
        flex-direction: column;
    }
}