body {
    margin: 0;

    font-family: "Arial", sans-serif;
}

h1 {
    color: #ffffff;
    font-size: 7rem;
    text-align: center;
}

.bg-video {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    /* Gradient background */
    background-image: linear-gradient(to bottom, 
        rgb(111, 26, 207), 
        rgb(255, 255, 255),
        rgb(49, 49, 49), 
        rgb(111, 26, 207), 
        rgb(49, 49, 49),
        rgb(111, 26, 207), 
        rgb(255, 255, 255),
        rgb(111, 26, 207), 
        rgb(255, 255, 255),
        rgb(155, 155, 155),
        rgb(255, 255, 255),
        rgb(99, 99, 99),
        rgb(49, 49, 49)
    );
    background-size: 100% 102%;
    animation: bg-video 3s linear infinite;
}

/* animate the background */
@keyframes bg-video {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}



.fg {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.767);
    flex-direction: column;

    /* blur */
    backdrop-filter: blur(3px);
}

.fg-button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.fg a, .experiences a {
    padding: 1rem 2rem;
    border-radius: 0.7rem;
    text-decoration: none;
}



.fg-button {
    margin: 1rem;
    padding: 1rem 2rem;
    border-radius: 0.7rem;
    background-color: #ffffff;
    color: #000000;
    font-size: 1.5rem;
    cursor: pointer;
    width: 10rem;
    text-align: center;
    border: #ffffff 0.2rem solid;
}

.fg-button:hover {
    background-color: #ffffffde;
    border: transparent 0.2rem solid;
}

.fg-button-see-through {
    background-color: transparent;
    color: #ffffff;
}

.fg-button-see-through:hover {
    background-color: #ffffff25;
}

.experiences {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #1F1F1F;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.experience {
    border-radius: 2rem;
    margin: 4rem;
    width: 50rem;
    height: 27rem;
    background-color: #ffffff;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-direction: row;
    overflow: hidden;
}

.experience:nth-child(even) {
    flex-direction: row-reverse;
}



.exp-textSide{
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 3rem;
    padding-bottom: 5rem;
    flex-direction: column;
    font-family: "Helvetica", sans-serif;
    font-weight: 100;
    line-height: 1.5rem;
}





.exp-textSide h2{
    font-size: 2rem;
    font-weight: 100;
    line-height: 2.5rem;
}

.exp-textSide a{
    background-color: #673ab7;
    color: #ffffff;
}



.exp-imageSide{
    width: 100%;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    padding: 3rem;
    align-items: center;
    overflow: hidden;
}

.exp-imageSide img{
    max-width: 100%;
    max-height: 100%;
}


.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2F2F2F;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.contact h2{
    color: #b1b1b1;
    font-size: 3rem;
    font-weight: 100;
    text-align: center;
}

.contact form {
    display: flex;
    justify-content: stretch;
    align-items: center;
    flex-direction: column;
    width: 30rem;
    max-width: 80%;
}

.contact form .text-input {
    width: 100%;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    border: #ffffff 0.2rem solid;
    font-size: 1.3rem;
    font-weight: 100;

    /* allow  size drag only vertically*/
    resize: vertical;
}

.contact label {
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 100;
    margin-top: 2rem;

    /* move to left side */
    margin-right: auto;
}

.contact .send-button {
    padding: 1rem 2rem;
    border-radius: 0.7rem;
    text-decoration: none;

    font-size: 1.3rem;
    font-weight: 100;
    letter-spacing: 0.1rem;

    margin-top: 1rem;

    border: transparent 0.2rem solid;

    cursor: pointer;

    background-color: #CE3D31;
    color: #ffffff;

    margin-left: auto;
}

.contact .send-button:hover {
    background-color: #a03127de;
}

.contact .send-button:active {
    background-color: #4d1712;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1F1F1F;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #aaaaaa;
    text-align: center;
}

footer p {
    margin: 0.7rem;
}

footer a {
    color: #aaaaaa;
    text-decoration: none;
    margin: 0 1rem;
}



#snackbar_sending,
#snackbar_sent,
#snackbar_error {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    border-radius: 1rem;
  }
  
  #snackbar_sending.show,
  #snackbar_sent.show,
  #snackbar_error.show 
  {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }


/* When on mobile */
@media only screen and (max-width: 50rem) {
    .experience {
        flex-direction: column;
        width: 90%;
        height: 100%;
    }
    .exp-textSide{
        width: auto;
    }
    .exp-imageSide{
        height: 25rem;
        width: auto;
    }
    .experience:nth-child(even) {
        flex-direction: column;
    }
}


/* When on mobile */
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 4rem;
    }
    .fg-button-group {
        flex-direction: column;
    }
    
}